
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');




body {
    background-color: lightgray;
    background: repeat center fixed;
    background-image: url('../photos/background/grey.jpg');
    }

/* Facebook */
.fa-facebook {
    float: right;
    padding: 15.5px;
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    float: right;
    padding: 15.5px;
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    float: right;
    padding: 15.5px;
    background: #C13584;
    color: white;
}



main {
    background-color: rgba(211,211,211,0.9) !important;
    /*!important - trumps precedence, making sure that this is what is rendered*/
}

img {
    float: left;
    margin: 2px;
}

p {
    text-align: center;
    margin-right: 8px;
    margin-left: 8px;
    font-size: 125%;
}


/**#region BEGIN OVAL SHAPE */
#circle-shape-example {
    font-family: Open Sans, sans-serif;
    margin: 2rem;
    padding-right: 10em;
}

    #circle-shape-example p {
        line-height: 1.5;
        font-size: 20px;
    }

    #circle-shape-example .curve {
        width: 25%;
        height: auto;
        min-width: 100px;
        float: left;
        margin-right: 2rem;
        border-radius: 50%;
    }

    /**#endregion*/


/*#region begin styling table */
table {
    border-collapse: separate;
    border-spacing: 0;
    color: #4a4a4d;
    font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

th,
td {
    padding: 10px 15px;
    vertical-align: middle;
}

thead {
    background: #000088;
    background: linear-gradient(#000088, #000099, #000060);
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
}

th:first-child {
    border-top-left-radius: 5px;
    text-align: left;
}

th:last-child {
    border-top-right-radius: 5px;
}

tbody tr:nth-child(even) {
    background: #f0f0f2;
}

td {
    border-bottom: 1px solid #cecfd5;
    border-right: 1px solid #cecfd5;
}

    td:first-child {
        border-left: 1px solid #cecfd5;
    }

.book-title {
    color: black;
    display: block;
}

.text-offset {
    color: #7c7c80;
    font-size: 12px;
}

.item-stock,
.item-qty {
    text-align: center;
}

.item-price {
    text-align: right;
}

.item-multiple {
    display: block;
}

tfoot {
    text-align: right;
}

    tfoot tr:last-child {
        background: #f0f0f2;
        color: #395870;
        font-weight: bold;
    }

        tfoot tr:last-child td:first-child {
            border-bottom-left-radius: 10px;
        }

        tfoot tr:last-child td:last-child {
            border-bottom-right-radius: 10px;
        }

        /*#endregion*/


/* The sidebar menu */
.sidenav {
    height: 164%; /* Full-height: remove this if you want "auto" height */
    width: 130.5px; /* Set the width of the sidebar */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 235px; /* Stay at the top */
    top: 190px; /* Stay at the top */
    right: 8px;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

    .sidenav h2 {
        color: white;
        text-align:center;
    }

    /* The navigation menu links */
    .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
    }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #f1f1f1;
        }

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
}



article h2 {
    color: black;
    font-size: 55px;
    text-align: center;
}



h1 {
    color: #000088;
    font-size: 75px;
    text-align: left;
}

header h1 {
    text-align: left;
    letter-spacing: 0.1em;
    padding-left: 30px;
    color: #1883CD;
    text-shadow: 2px 2px white;
}

nav ul {
    background-color: #000088;
    text-align: center;
    border-top: 4px solid darkgray;
    border-bottom: 4px solid darkgray;
}





/*base links (all links)*/

/*base link pseudo selectors
    hover = mouse over the element, active = actively clicking on the element, focus = having clicked on the element, and it is currently selected
*/
a:hover, a:active, a:focus {
    color: lightblue;
    text-decoration: underline;
    background-color: #000088;
}



a:hover #tiltpic {
    background-color: #ddd;
    color: black;
}


/*#region navbar link styling*/
.topnav {
    background-color: black;
    text-align: center;
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: #ffffff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Add a color to the active/current link */
        .topnav a.active {
            background-color: #33C972;
            color: #ffffff;
        }

/*#endregion*/



/*Imported Fonts*/
h1, h2, footer {
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}

header h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.2em;
}

header p {
    font-style: italic;
    font-size: large;
    text-align: left;
    padding-left: 3%;
    color: #33C972;
    text-shadow: 1.1px 2px black;
    font-family: 'Bebas Neue', cursive;
}

/*positioning a single image through CSS*/
#headerOverlay {
    background-image: url('../photos/space/robo.png');
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: 4% center;
    padding: 2em;
}






/* go add (wrap ctrl+shift+w) a <div id="headerOverlay"> inside the <header> on each .html page.*/

header h1, header p {
    margin: 3px 0 0px 90px;
}


/*Backround Images HEADER */
header {
    background-image: url('../photos/space/earth_banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


nav ul {
    min-height: 52px;
    background-image: url();
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 100px;
}


#footer {
    clear: both;
    text-align: center;
    border-top: 6px double gray;
}

/*#region*/



/*BEGIN CLASS SECTION*/

/* Three image containers (use 25% for four, and 50% for two, etc) */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 30%;
    padding: 0 10px;
    margin-left: 30px;
    margin-bottom: 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 5px 5px;
}

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

/* Style the counter cards */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 25px;
    text-align: center;
    background-color: #f1f1f1;
}

    .card:hover {
        background-color: #000088;
        color: white;
        outline: double;
    }



/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }


    /*#endregion*/

    /*#region*/


    /* Set a specific color for each brand */



  


    /*#endregion*/

}

/*#region STYLING CONTACT FORM */

input[type=text], select, textarea {
    width: 55%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #33C972;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: none;
}

    input[type=submit]:hover {
        background-color: #33C972;
        color: white;
    }

.container {
    border-radius: 5px;
    padding: 20px;
}

/*#endregion*/



